@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'amatic';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/amatic/AmaticSC-Regular.ttf')
}

@font-face {
    font-family: 'amatic';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('~/assets/fonts/amatic/AmaticSC-Bold.ttf')
}



@font-face {
    font-family: 'permark';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/permark/PermanentMarker-Regular.ttf')
}


@font-face {
    font-family: 'lbtk';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/lbtk/LovedbytheKing-Regular.ttf')
}


/* @font-face {
    font-family: 'josan';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/josan/JosefinSans-VariableFont_wght.ttf')
} */

@font-face {
    font-family: 'josan';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/josan/JosefinSans-Regular.ttf')
}