@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    .ladder-underline {
        background-image: url('~/assets/underline.svg');
        background-position: 0 110%;
        background-repeat: no-repeat;
        background-size: auto 0.75rem;
    }
    .ladder-underline-small {
        background-image: url('~/assets/underlinesmall.svg');
        background-position: 0 110%;
        background-repeat: no-repeat;
        background-size: auto 0.75rem;
    }
}

@layer utilities {
    .clip-your-needful-style {
        clip-path: polygon(0 0, 0 100px, 100px 80px, 100px 0);
    }
}

@font-face {
    font-family: 'amatic';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/amatic/AmaticSC-Regular.ttf')
}

@font-face {
    font-family: 'amatic';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('~/assets/fonts/amatic/AmaticSC-Bold.ttf')
}



@font-face {
    font-family: 'permark';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/permark/PermanentMarker-Regular.ttf')
}


@font-face {
    font-family: 'lbtk';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/lbtk/LovedbytheKing-Regular.ttf')
}


/* @font-face {
    font-family: 'josan';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/josan/JosefinSans-VariableFont_wght.ttf')
} */

@font-face {
    font-family: 'josan';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/josan/JosefinSans-Regular.ttf')
}

@font-face {
    font-family: 'josefin';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~/assets/fonts/josefin/JosefinSans-Regular.ttf')
}

@font-face {
    font-family: 'josefin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~/assets/fonts/josefin/JosefinSans-Regular.ttf')
}